/*****************************/
/*****************************/
/** Nanny Pofile Basic Info **/
/*****************************/
/*****************************/
div.container {
	min-width: 1200px;
}

.nanny-info-label{
	text-align: left !important;
}

.nanny-info-label-small{
	float: right;
}

.nanny-info-dropdown{
	width: 100px;
}

.nanny-info-detailbox{
    border-style: solid;
    border-width: thin;
    border-color: #77c043
}

.nanny-info-gradYear{
	padding-left: 0px;
	padding-right: 0px;
}

.nanny-info-row-details, #child-specialNeed{
	display: none;
}

.nanny-info-checkbox{
	text-align: center;
}

/** Nanny Pofile Overides**/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #77c043;
}

.nav-pills > li > a {
    color: #000;
}




/*****************************/
/*****************************/
/** Mommy Pofile Basic Info **/
/*****************************/
/*****************************/
.mommy-info-dropdown{
	width: 130px;
}

.mommy-info-dropdown-number{
	width: 60px;
}

.mommy-info-dropdown-bool{
	width: 80px;
}

.mommy-info-radio{
	display:inline-block
}

.mommy-info-checkbox{
	text-align: left;
    margin-left: 15px;
}

hr {
border: 0;
height: 3px;
background: #77c043;
/*background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
*/}


/** Mommy Pofile Overides**/
.btn:active {
	background: #77c043;1
}