.spacer50{height:50px;}
.spacer20{height:20px;}
.spacer10{height:10px;}

h3{
    font-size: 35px;
    font-weight: bold;
    color: #00aeef;	
}


.content-header-spacer-20 {
   	margin-top: 20px;
   	margin-bottom: 20px;		
}

.content-indent{
	margin-left: 35px;
}

.reset-button{
	height: 3vw;
	width: 6vw;
	color: white;
    background-color: #77c043;
    font-weight: bold;
    margin-left: 0px;
}

.common-middle-text{
	padding: 12px;
	margin-left: 25px;
}

.common-remove-upper-indent{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.common-remove-left-indent{
	padding-left: 0px !important;
	margin-left: 0px !important;
}

.common-remove-right-indent{
	padding-right: 0px !important;
	margin-right: 0px !important;
}


.common-right-indent{
	margin-right: 5px !important;
}
.common-left-indent10{
	margin-left: 10px !important;
}

.common-upper-indent{
	margin-top: 5px !important;
}

.common-right-icon{
	text-align: right;
	font-size: 2.5vw;
}

/*****************************/
/*****************************/
/** Fonts **/
/*****************************/
/*****************************/
.rage {
	font-family:'Rage';
	color: #00aeef;
	font-size: 3vw;
}
.frank {
	font-family:'FrankGothicBook';
	color: #77c043;
	font-size: 2vw;
}

@font-face {
  font-family: 'FrankGothicBook';
/*  src: url('/fonts/Aleo-Bold_gdi.eot');
  src: url('//cdn.gofundraise.com.au/au/static/EcvFonts/Aleo/bold/Aleo-Bold_gdi.eot?#iefix') format('embedded-opentype'), 
       url('//cdn.gofundraise.com.au/au/static/EcvFonts/Aleo/bold/Aleo-Bold_gdi.woff') format('woff'), */
	src: url('../fonts/FRABK.ttf')  format('truetype')
}
@font-face {
  font-family: 'Rage';
/*  src: url('/fonts/Aleo-Bold_gdi.eot');
  src: url('//cdn.gofundraise.com.au/au/static/EcvFonts/Aleo/bold/Aleo-Bold_gdi.eot?#iefix') format('embedded-opentype'), 
       url('//cdn.gofundraise.com.au/au/static/EcvFonts/Aleo/bold/Aleo-Bold_gdi.woff') format('woff'), */
	src: url('../fonts/RAGE.ttf')  format('truetype')
}


/*****************************/
/*****************************/
/** Nanny Pofile Basic Info **/
/*****************************/
/*****************************/
div.container {
	min-width: 1200px;
}

.nanny-info-label{
	text-align: left !important;
}

.nanny-info-label-small{
	float: right;
}

.nanny-info-dropdown{
	width: 100px;
}

.nanny-info-detailbox{
    border-style: solid;
    border-width: thin;
    border-color: #77c043
}

.nanny-info-gradYear{
	padding-left: 0px;
	padding-right: 0px;
}

.nanny-info-row-details{
	display: none;
}

.nanny-info-checkbox{
	text-align: center;
}

/** Nanny Pofile Overides**/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #77c043;
}

.nav-pills > li > a {
    color: #000;
}




/*****************************/
/*****************************/
/** Mommy Pofile Basic Info **/
/*****************************/
/*****************************/
.mommy-info-dropdown{
	width: 130px;
}

.mommy-info-dropdown-number{
	width: 60px;
}

.mommy-info-dropdown-bool{
	width: 80px;
}

.mommy-info-radio{
	display:inline-block
}

.mommy-info-checkbox{
	text-align: left;
    margin-left: 15px;
}

.seeker-info-label{
	text-align: left !important;
}

.seeker-info{
	padding-left: 0px;
	padding-right: 0px;
}

#child-specialNeed, #elderly-repeater{
	display: none;
}

hr, hr.dashboard {
	border: 0;
	height: 3px;
	background: #77c043;
	margin-top: -5px;
	margin-bottom: -5px
}

/** Calendar **/
.mommy-info-calendar-header,.mommy-info-calendar-header-big{
	text-align: center !important;
	vertical-align: middle !important;
}

.mommy-info-calendar-header-big{
    width: 40%;	
}

.mommy-info-calendar-checkbox{
	text-align: center !important;
	padding-right: 10px;
}


/** Mommy Pofile Overides**/
.btn:active {
	background: #77c043;1
}

.table tbody tr:hover{
	background-color: #77c043;
}

.table tbody tr td:hover{
	background-color: darkgreen;
}


/*****************************/
/*****************************/
/** Login **/
/*****************************/
/*****************************/
.login-control{
	height: 40px;
    font-size: medium;
}

.modal-close{
	font-size: 30px;
	font-size: 3vw;
	opacity: 1;
	color: #77c043;
}

.login-label{
	font-size: medium;
}

.login-input{
	margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #77c043	
}

input[type=checkbox].login-checkbox {

 -ms-transform: scale(1.5); /* IE */
 -moz-transform: scale(1.5); /* FF */
 -webkit-transform: scale(1.5); /* Safari and Chrome */
 -o-transform: scale(1.5); /* Opera */
  /*padding: 10px;*/
	margin-right: 5px;
    margin-left: 3px;    
}

.login-button{
    margin-top: 20px;
    margin-bottom: 60px;	
    color: white;
    background-color: #77c043;
}

.modal-header{
	padding-bottom: 0px;
}

.modal-footer{
	border-top: 0px;
	padding-top: 0px;
}



/*****************************/
/*****************************/
/** FAQ **/
/*****************************/
/*****************************/
.panel-heading{
	color: white !important;
	background-color:  #00aeef !important;
	min-height: 45px;
}

.panel-icon{
	float: right;
	margin-top: 0px;
	cursor: pointer;	
}

.panel-body{
	background-color: #E7EFC0;
}

.panel-group .panel + .panel{
	margin-bottom: 0px;
	margin-top: 0px;
}

/*****************************/
/*****************************/
/** About Us **/
/*****************************/
/*****************************/
.about-banner{
	background-color: #F9F8F6;
}

img.banner{
    display: block;
    margin: 0 auto;
}

.container.about-banner, .container.about-who, h2.about-story{
    text-align: center;
}

.container.about-banner{
    margin-left: 0px;
}

.container.about-who{
    margin-left: auto;	
}

.about-left{
	border-right: 1px solid #00aeef;	
}
.about-right{
	border-left: 1px solid #00aeef;	
}

p.about{
	text-align: left;
}

.our-quote{
	font-style: italic;
}

.about-story{
	background-color: #F9F8F6
}

h4.about-behind, h5.about-behind{
	color: #00aeef;
	text-align: left;
    margin:	0px;
}

h4.about-behind{
    font-size: 22px;
    font-weight: bold;
}

h5.about-behind{
    font-size: 20px;
}

.about-left{
	border-right: 1px solid #00aeef;	
}
.about-right{
	border-left: 1px solid #00aeef;	
}

p.about{
	text-align: left;
}

.our-quote{
	font-style: italic;
}

.about-story{
	background-color: #F9F8F6
}

h4.about-behind, h5.about-behind{
	color: #00aeef;
	text-align: left;
    margin:	0px;
}

h4.about-behind{
    font-size: 22px;
    font-weight: bold;
}

h5.about-behind{
    font-size: 20px;
}


/*.row .vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;*/
}
/*****************************/
/*****************************/
/** General Sign Up **/
/*****************************/
/*****************************/
.general-rage-nanny{
	font-size: 2vw;
}

.general-frank{
	font-size: 2vw;
}

/*****************************/
/*****************************/
/** Nanny Dashboard **/
/*****************************/
/*****************************/

.dashboard-search-label{
	margin-top: 4px !important;
	padding-right: 5px !important;
	text-align: right;
}

.dashboard-button{
/*    margin-top: 20px;
    margin-bottom: 20px;	*/
    color: white;
    background-color: #77c043;
    font-weight: bold;	
}

hr.dashboard {
	height: 1px;
}

.pix-control{
	display: none !important;
}