<section id="main-image">
  <div class="container">
    <br>
    <div class="" style="text-align: center;">
      <img src="images/coming-soon.png" >
    </div>  
    <br>
    <div style="text-align: center;"><p class="frank">Building Trusted Communities</div>
    <div style="text-align: center;"><p class="frank">Promoting Mobility and Peace of Mind</div>
    <div style="text-align: center;"><p class="frank">Uplifting the <span class="rage"> nanny </span>brand</div>
    <div style="text-align: center;"><p class="frank">Encouraing Local Job Opporuniiies</div>
    <div class="spacer20"></div>
    <div class="" style="text-align: center;">
      <img src="images/day-in-out-nanny.jpg" >
    </div>
  </div>
</section>