<div class="row about-banner">
	<div class="container about-banner">
				 <img class="banner" src="images/about-us-banner.jpg" alt="MotherChild"> 
<!-- 		<div class="col-md-12">
			<div class="row">
			</div>	
			<div class="row">
				<div class="form-group">
					<label class="control-label"><label>
				</div>		
			</div>			
			<div class="row">	
			</div>
			<div class="spacer50"></div>
			<div class="spacer50"></div>
			<section class="" id="get-started"> <a href="#">GET STARTED</a> </section>		
			<div class="spacer50"></div> -->
	</div>
</div>
<div class="row clearfix">
	<div class="container about-who">
		<h2 class="">Who We Are</h2>

		<div class="row clearfix">
		  <div class="col-md-6 about-left">
		    <h3>One</h3>
		    <img class="banner" src="images/community.jpg" alt="MotherChild">
		    <p class="about">We believe in a world of trusted communities where we can help you take care of your child or family member and answer your other care needs by connecting you to reliable care providers near your town or city.</p>
		  </div>
		  <div class="col-md-6 about-right">
		    <h3>Two</h3>
		    <p class="about">We believe in a world of trusted communities where we can help you take care of your child or family member and answer your other care needs by connecting you to reliable care providers near your town or city.</p>
		    <p class="about">We believe in a world of trusted communities where we can help you take care of your child or family member and answer your other care needs by connecting you to reliable care providers near your town or city.</p>
		    <p class="about">We believe in a world of trusted communities where we can help you take care of your child or family member and answer your other care needs by connecting you to reliable care providers near your town or city.</p>	    	    	    
		  </div>
		</div>  


	<!-- 	<div class="row vdivide">
		  <div class="col-md-6">
		    <div class="mycontent-left">One
		    </div>
		  </div>
		  <div class="col-md-6">
		    <div class="mycontent-right">Two
		    </div>
		  </div>
		</div>   -->

		<div class="spacer50"></div>
	</div>
</div>
<div class="row clearfix about-story">
	<div class="container">
		<h2 class="about-story">Our Story</h2>

		<div class="row clearfix">
		  <div class="col-md-3">
		  	<img class="banner" src="images/family-pic.png" alt="family">
		  </div>			
		  <div class="col-md-9">
		    <p class="about">Early in 2015, Dennis and Jacky had problems searching for someone to look after their daughter while having the need to attend regular meetings with their financial mentor.</p>
		    <p class="about">Concurrently, the couple was able to witness a number of nannies in their residential community leaving their employers on short notice causing the latter unprepared. </p>		    
		    <h3 class="our-quote" >BLABLABLABL! BBLBLBL!</h3>
		    <p class="about">So they came up with an idea of having an online community, where finding a nanny would be easy by just doing a few clicks. It was their desire to help families like them to have an easy, fast, accessible and reliable platform of finding their care needs - without having to go through the pain of waiting, without an assurance, if they can get back to their usual activities any time soon.</p>
		  </div>
		</div>  
		<div class="spacer50"></div>
	</div>
</div>
<div class="row clearfix">
	<div class="container about-who">
		<h2 class="">Behind Dion</h2>

		<div class="row clearfix">
		  <div class="col-md-6">
			  <div class="col-md-4">
			  	<img class="banner" src="images/dennis-pic.png" alt="Dennis">
			  </div>			
			  <div class="col-md-8">
			  	<h4 class="about-behind" >DDennis de Silva</h4>
			  	<h5 class="about-behind">CEO and Co-Founder</h5>
			    <p class="about">Dennis founded Dion last August 2015 from a simple idea of putting up a tech platform to benefit their residential community to a facility used by many all over the country.  Previous to Dion, He was Senior Manager at Xerox Business Services. Dennis is a Certified Public Accountant (CPA).</p>
			  </div>
		  </div>
		  <div class="col-md-6">
			  <div class="col-md-4">
			  	<img class="banner" src="images/jacky-pic.png" alt="Dennis">
			  </div>			
			  <div class="col-md-8">
			  	<h4 class="about-behind" >Jacqueline Marisse de Silva</h4>
			  	<h5 class="about-behind">COO and Co-founder</h5>
			    <p class="about">Jacqueline leads the day-to-day operations of Dion. Jacky left the corporate scene to answer the noble call of becoming a full-time wife & mom and pursue her passion in serving God through dancing. She also teaches ballet for kids as part-time. Previously at Citibank, she formed part of the Management Reporting Group supporting the Asia Pacific Region as Assistant Manager. Jacky is a Certified Public Accountant (CPA).</p>
			  </div>
		</div>  


	<!-- 	<div class="row vdivide">
		  <div class="col-md-6">
		    <div class="mycontent-left">One
		    </div>
		  </div>
		  <div class="col-md-6">
		    <div class="mycontent-right">Two
		    </div>
		  </div>
		</div>   -->

		<div class="spacer50"></div>
	</div>
</div>
