<div class="container">
	<div class="col-md-12">
		<div class="row">
			<h2>FAQ</h2>
		</div>	
		<div class="row">
			<div class="form-group">
				<label class="control-label"><label>
			</div>		
		</div>			
		<div class="row">	
			<div class = "panel-group" id = "accordion">
			   <div class = "panel panel-default">
			      
			      <div class = "panel-heading">
			        <h4 class = "col-md-6 panel-title">
			        	<a data-toggle = "collapse" data-parent = "#accordion" data-target="#collapseOne">
			               GENERAL
			            </a>
			        </h4>
					<h4 class="panel-icon"><span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle = "collapse" data-parent = "#accordion" 
						data-target="#collapseOne" ng-click="toggle($event,'#collapseOne')"></span>
					</h4>       
			      </div>
			      
			      <div id = "collapseOne" class = "panel-collapse collapse in">
			         <div class = "panel-body">
						Is Dion Online a recruitment agency?

						Dion Online is a technology provider rather than a recruitment agency. It is an online community where all care seekers and care providers meet.

						Do I need to sign-up (be a member) to use Dion Online?

						Definitely. You need to sign-up as a care seeker (I need a nanny) or a care provider (I need a nanny job) to enjoy the basic services of the platform.

						Do I have to pay to use DION Online?

						The use of Dion Online’s basic services is FREE of Charge

						What are the available services that you can find at DION Online?

						<ul>
							<li>Child care</li>
							<li>Elderly care</li>
							<li>Pet care</li>
							<li>Housekeeping</li>
							<li>Tutor</li>
							<li>Errands</li>
						</ul>

						For care seekers, find the help you need here! You can do so, by posting a job or by searching nanny profiles

						For care providers be the help that someone needs! You can be one, by applying to posted jobs or searching for potential employers 

						How does Dion Online promote a safe community?
						Dion Online upholds a safety feature for care providers to attach trust documents such as

						<ul>
							<li>NSO birth certificate</li>
							<li>NBI clearance</li>
							<li>Barangay clearance</li>
							<li>Medical certificate</li>
						</ul>
						
						We view this measure as an important step but don’t capture everything; on the other hand the best safety precaution would rest on you as a care seeker. 
						Dion Online will carry on its drive to provide safety guidelines as an advocate of trusted communities for both care seekers and care providers.

			         </div>
			      </div>
			      
			   </div>
			   
			   <div class = "panel panel-success">

			      <div class = "panel-heading">
			        <h4 class = "col-md-6 panel-title">
			        	<a data-toggle = "collapse" data-parent = "#accordion" data-target="#collapseOne">
			               CARE SEEKER
			            </a>
			        </h4>
					<h4 class="panel-icon"><span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle = "collapse" data-parent = "#accordion" 
						data-target="#collapseTwo" ng-click="toggle($event,'#collapseTwo')"></span>
					</h4>       
			      </div>
			      
			      <div id = "collapseTwo" class = "panel-collapse collapse">
			         <div class = "panel-body">
						How can I look for a nanny at Dion Online?

						There are 2 ways to find a nanny:

							<ul>
								<li>Post a job</li>
								<li>Search</li>
							</ul>

						Post a job 
						Click the “Post a Job” button and select from the dropdown list what particular care services you need.

							<ul>
								<li>Child care</li>
								<li>Elderly care</li>
								<li>Pet care</li>
								<li>Housekeeping</li>
								<li>Tutor</li>
								<li>Errands</li>
							</ul>
						
						Fill up the necessary fields based on your needs and write a short description of your specific requirements then click the “Post a job” button. By doing so, the job will be posted and will be seen in public 
						
						Search  
						You can find a care provider by just clicking the “Search a nanny” button 
						Based on the search results, you can begin screening care providers according to your preference then, connect with them by using our messaging facility.

						How do I settle payment with a care provider?

						The fulfillment of services and settlement of dues is left between you and the care provider based on the terms and conditions you both agreed. 

						Dion Online highly encourages that the rate and terms should be established before the rendering of the services.

			         </div>
			      </div>
			      
			   </div>
			   
			   <div class = "panel panel-info">

			      <div class = "panel-heading">
			        <h4 class = "col-md-6 panel-title">
			        	<a data-toggle = "collapse" data-parent = "#accordion" data-target="#collapseOne">
			               CARE PROVIDER
			            </a>
			        </h4>
					<h4 class="panel-icon"><span class="glyphicon glyphicon-minus" aria-hidden="true" data-toggle = "collapse" data-parent = "#accordion" 
						data-target="#collapseThree" ng-click="toggle($event,'#collapseThree')"></span>
					</h4>       
			      </div>
			      
			      <div id = "collapseThree" class = "panel-collapse collapse">
			         <div class = "panel-body">
			            How can I look for a job?

						Click the “Search a nanny job” button then use the dropdown list for a more concise search. Search results will lead you to posted jobs that match your interest.

						You can boost your profile to prospective care seekers by customizing your account with added features.


						How can I get paid?

						Get paid directly by the care seeker based on the rate and terms you have both agreed.  We highly encourage that before accepting an offer; the rate and terms of the services should have been established.
			         </div>
			      </div>
			   </div>
			</div>		
		</div>
		<div class="spacer50"></div>
		<div class="spacer50"></div>
		<section class="" id="get-started"> <a href="#">GET STARTED</a> </section>		
		<div class="spacer50"></div>
</div>