<div class="container">
	<div class="col-md-10">
		<div class="row">
			<h2>Sign Up</h2>
		</div>	
		<div class="row">
			<div class="form-group">
				<label class="control-label"><label>
			</div>		
		</div>			
		<div class="row">
			<div class="form-group">
<!-- 				<div class="col-md-1"></div> -->
				<div class="col-md-12 nanny-info-detailbox">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="row">
						    <h3 class="rage">Mabuhay</h3>
						    <h4 class="general-frank">Let's Get Started</h4>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="control-label"><label>
							</div>		
						</div>					
						<div class="row">
							<div class="col-md-6 common-remove-left-indent">
								<div class="form-group">
								<div class="col-md-4 common-remove-right-indent">
							        <label class="control-label ">I need a 
							        </label>
								</div>
								<div class="col-md-7 common-remove-upper-indent">
									<div class="">
								        <label class="control-label nanny-info-checkbox common-remove-upper-indent pull-left">
								            <input type="radio" name="" class="common-right-indent" value="careseeker" ng-model="user.type"></input><span class="rage general-rage-nanny">nanny</span>
								        </label>
									</div>
									<div class="">
								        <label class="control-label nanny-info-checkbox common-remove-upper-indent pull-left">
								            <input type="radio" name="" class="common-right-indent" value="caregiver" ng-model="user.type"></input><span class="rage general-rage-nanny">nanny</span>     job
								        </label>
									</div>
								</div>
								</div>																	
							</div>																	
						</div>					
						<div class="row">
							<div class="form-group">
									<label for="firstname" class="control-label col-md-2 common-remove-left-indent">First Name:</label>
									<div class="col-md-9">
										<input type="text" id="firstname" class="form-control contact-control" placeholder="First Name" ng-model="user.firstName">
									</div>					
							</div>
						</div>
						<div class="spacer10"></div>		
						<div class="row">
							<div class="form-group">
									<label for="middlename" class="col-md-2 control-label common-remove-left-indent">Middle Name:</label>
									<div class="col-md-9">
										<input type="text" id="middlename" class="form-control contact-control" placeholder="Middle Name" ng-model="user.middleName">
									</div>
							</div>
						</div>						
						<div class="spacer10"></div>		
						<div class="row">
							<div class="form-group">
									<label for="lastname" class="col-md-2 control-label common-remove-left-indent">Last Name:</label>
									<div class="col-md-9">
										<input type="text" id="lastname" class="form-control contact-control" placeholder="Last Name" ng-model="user.lastName">
									</div>
							</div>
						</div>						
						<div class="spacer10"></div>		
						<div class="row">
							<div class="form-group">
									<label for="email" class="col-md-2 control-label common-remove-left-indent">Email:</label>
									<div class="col-md-9">
									<input type="text" id="email" class="form-control contact-control" placeholder="Email" ng-model="user.email">
								</div>
							</div>
						</div>						
						<div class="spacer10"></div>		
						<div class="row">
							<div class="form-group">
									<label for="email" class="col-md-2 control-label common-remove-left-indent">Password:</label>
									<div class="col-md-9">
									<input type="text" id="password" class="form-control contact-control" placeholder="(Minimum 6 characters)" ng-model="user.password">
									</div>
							</div>
						</div>						
						<div class="spacer10"></div>	
						<div class="row">
							<div class="form-group">
									<label for="email" class="col-md-2 control-label common-remove-left-indent">Location:</label>
									<div class="col-md-3">
										<select class="form-control contact-control" ng-model="user.city">
											<option value="{{'makati'}}">Makati</option>
											<option value="'taguig'">Taguig</option>
										</select>
									</div>
							</div>
						</div>	
						<div class="spacer20"></div>	
						<div class="row">
							<div class="form-group">
								<div class="col-md-2"></div>
								<label class="login-label col-md-8">
									<input type="checkbox" name="" class="login-checkbox" ng-model="user.agreeTerms"> I agree to the <a href="" ng-click="terms()">Terms of Use</a>.  For details on collection and use of your information, see our <a href="" ng-click="privacy()">Privacy Policy</a>.
								</label>	
							</div>
						</div>	
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button type="button" class="btn col-md-12 contact-button" ng-click="Contiue()">CONTINUE</button>
							</div>
							<div class="col-md-4"></div>
						</div>														
					</div>
				</div>				
			</div>			
		</div>
		
	</div>
	<div class="">
	</div>
</div>