<div class="modal-header">
	<button type="button" class="close modal-close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">

	<div class="form-horizontal col-md-12">

		<div class="row">
		    <h3 class="modal-title">Login in to DION</h3>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-12">
					<input type="text" id="email" class="form-control login-control login-input" placeholder="Email">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-12">
					<input type="text" id="password" class="form-control login-control login-input" placeholder="Password">
				</div>
			</div>
		</div>
		<div class="row">
			<label class="login-label">Forgot password?  Click <a href="">here</a></label>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-12">
					<label class="login-label">
						<input type="checkbox" name="" class="login-checkbox" ng-model="nannyAchievements.other"> Remember Me
					</label>	
				</div>
			</div>
		</div>	
		<div class="row">
		</div>
		<div class="row">
			<button type="button" class="btn col-md-12 login-control login-button">LOG IN</button>
		</div>				
		<div class="row">
			<label class="login-label">By loggin in you agree to our <a href="">terms of use</a></label>
		</div>
		<div class="row">
			<label class="login-label">See our <a href="">privacy policy</a></label>
		</div>

	</div>

<!--     <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b> -->
</div>
<div class="modal-footer">
	<div class="row">
	</div>
<!--     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
</div>
