<div class="container">
<h1>Our Services</h1>

<div class="imageTile">
    <div class="backImage">
        <img src="pic\childcare-bg.jpg">
    </div>
    <div class="tileImage">
        <img src="pic\childcare.png" >
    </div>
    <h2>Child Care</h2>
    <div class="writeUp">
        <h4><p><a href="" target="">Full-time</a></p></h4>
        <h4><p><a href="" target="">Part-time</a></p></h4>
        <h4><p><a href="" target="">Special Needs</a></p></h4>
        <h4><p><a href="" target="">Tutor</a></p></h4>
    </div>
    <input type="image" class="tileButton" src="pic\get-started-button.png">
</div> 

<div class="imageTile">
    <div class="backImage">
        <img src="pic\adultcare-bg.jpg" alt="">
    </div>
    <div class="tileImage">
        <img src="pic\adultcare.png">
    </div>
    <h2>Adult Care</h2>
    <div class="writeUp">
        <h3><p><a href="" target="">Full-time</a></p></h3>
        <h3><p><a href="" target="">Part-time</a></p></h3>
    </div>
    <input type="image" class="tileButton" src="pic\get-started-button.png">
</div>

<div class="imageTile">
    <div class="backImage">
        <img src="pic\housekeeping-bg.jpg" alt="">
    </div>
    <div class="tileImage">
        <img src="pic/housekeeping.png">
    </div>
    <h2>Other Care Needs</h2>
    <div class="writeUp">
        <h3><p><a href="" target="">Errands</a></p></h3>
        <h3><p><a href="" target="">Housekeeping</a></p></h3>
        <h3><p><a href="" target="">Pet Care</a></p></h3>
    </div>
    <input type="image" class="tileButton" src="pic\get-started-button.png">
</div>
</div>
<!-- <div class="row">
	<div class="container about">
	<h2 class="about who">Who We Are</h2>
	<div class="row vdivide">
	  <div class="col-md-6">
	    <div class="mycontent-left">One
	    </div>
	  </div>
	  <div class="col-md-6">
	    <div class="mycontent-right">Two
	    </div>
	  </div>
	</div>  	
	<div class="spacer50"></div>
	</div>
</div> --> -->
