<div class="container">
    <h1 class="OurServices">Our Services</h1>

    <div class="spacer50"></div>

    <div class="imageTile">
        <div class="backImage">
            <img src="images/childcare-bg.jpg">
        </div>
        <div class="tileImage">
            <img src="images/childcare.png" >
        </div>
        <h2>Child Care</h2>
        <div class="writeUp">
            <h3><p><a href="" target="">Full-time</a></p></h3>
            <h3><p><a href="" target="">Part-time</a></p></h3>
            <h3><p><a href="" target="">Special Needs</a></p></h3>
            <h3><p><a href="" target="">Tutor</a></p></h3>
        </div>
        <input type="image" class="tileButton" src="images/get-started-button.png">
    </div> 

    <div class="imageTile">
        <div class="backImage">
            <img src="images/adultcare-bg.jpg" alt="">
        </div>
        <div class="tileImage">
            <img src="images/adultcare.png">
        </div>
        <h2>Adult Care</h2>
        <div class="writeUp">
            <h3><p><a href="" target="">Full-time</a></p></h3>
            <h3><p><a href="" target="">Part-time</a></p></h3>
        </div>
        <input type="image" class="tileButton" src="images/get-started-button.png">
    </div>

    <div class="imageTile">
        <div class="backImage">
            <img src="images/housekeeping-bg.jpg" alt="">
        </div>
        <div class="tileImage">
            <img src="images/housekeeping.png">
        </div>
        <h2>Other Care Needs</h2>
        <div class="writeUp">
            <h3><p><a href="" target="">Errands</a></p></h3>
            <h3><p><a href="" target="">Housekeeping</a></p></h3>
            <h3><p><a href="" target="">Pet Care</a></p></h3>
        </div>
        <input type="image" class="tileButton" src="images/get-started-button.png">
    </div>

    <div class="row clearfix" style="margin-bottom: 90px;">
    </div>
</div>
